<%- include('partials/header') %>

<main class="index-background">
  <section class="welcome-section">
    <h1>Welcome to Movie Notes !</h1>
    <p>Search and manage your favorite movies using title or IMDb ID. Add reviews, ratings, and more.</p>
  </section>

  <form action="/search" method="POST" class="search-form">
    <label for="movieInput">Search by Title or IMDb ID</label>
    <input type="text" name="movieInput" id="movieInput" placeholder="e.g. Inception or tt1375666" required>
    <button type="submit">Search</button>
  </form>
</main>

<%- include('partials/footer') %>
